* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  color: rgb(255, 0, 0);
  font-family: sans-serif;
}

body {
  background: #111;
}

#root {
  padding: 1rem;
}

header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

button {
  background-color: #222;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  cursor: pointer;
  border-radius: 4px;
}

button:hover {
  background-color: #444;
}